In [1]:
li=[1,2,12,1,4,5]
max(li)

12

In [2]:
min(li)

1

In [3]:
l=['A','B','C','D','E']
max(l)

'E'

In [5]:
min(l)

'A'

In [6]:
l=['E','C','P','Q','A','D','A']
l.sort()

In [7]:
print(l)

['A', 'A', 'C', 'D', 'E', 'P', 'Q']

In [8]:
print(l.sort(reverse=True))

None

In [10]:
li.index(4)

4

In [11]:
l.pop('Q')

TypeError: 'str' object cannot be interpreted as an integer

In [12]:
li.pop(3)

1

In [13]:
li

[1, 2, 12, 4, 5]

In [14]:
li.reverse()

In [16]:
print(li)
li=li[::-1]
print(li)

[5, 4, 12, 2, 1]
[1, 2, 12, 4, 5]

In [17]:
l.clear()

In [18]:
print(l)

[]

In [21]:
l=['h', 'a', 'r', 's', 'h', 'i', 'l']
lres=[];
for x in range(len(l)):
    lres.append(l[x].upper())
print(lres)

['H', 'A', 'R', 'S', 'H', 'I', 'L']

In [22]:
#list to STring joint method is used

In [23]:
lres.clear()
lres="".join(l)
lres=lres.upper();
lres=list(lres)

In [24]:
print(lres)

['H', 'A', 'R', 'S', 'H', 'I', 'L']

In [27]:
###Operation on Tuples
#Ordered
#immutable
#Iterable
#Repetion allowed

t=(1,2,3)
t1=(7,2,0,5,0)
t3=t+t1
print(t3)

(1, 2, 3, 7, 2, 0, 5, 0)

In [28]:
print(t*2)

(1, 2, 3, 1, 2, 3)

In [29]:
max(t)

3

In [30]:
min(t)

1

In [31]:
type(t)

tuple

In [32]:
## Dictionary
#unordered
#mutable
#iterable
#Repetitions allowed for  values
#values are mutable

d={'Name':'Sheetal','city':'Pune'}

In [35]:
d

{'Name': 'Sheetal', 'city': 'Pune'}

In [36]:
d.keys()

dict_keys(['Name', 'city'])

In [38]:
d.values()

dict_values(['Sheetal', 'Pune'])

In [41]:
d['Name']

'Sheetal'

In [44]:
dlst=d.items()
print(dlst)

dict_items([('Name', 'Sheetal'), ('city', 'Pune')])

In [48]:
d.update({'Name':input("Enter Name")})

Enter Name1vchjd

In [49]:
d

{'Name': '1vchjd', 'city': 'Pune'}

In [50]:
d.pop('city')

'Pune'

In [51]:
del  d['Name']

In [52]:
d

{}

In [53]:
d.update({'Name':input("Enter Name")})

Enter Namesheetal

In [54]:
d

{'Name': 'sheetal'}

In [55]:
d.get('Name')

'sheetal'

In [56]:
d['Name']='Sheetal Warbhuvan'

In [57]:
d

{'Name': 'Sheetal Warbhuvan'}

In [58]:
d.clear()

In [59]:
d

{}

In [60]:
d.update({'Name':input("Enter Name")})

Enter NameSheetal  Warbhuvan

In [61]:
d

{'Name': 'Sheetal  Warbhuvan'}

In [62]:
d1=d.copy()

In [63]:
d1

{'Name': 'Sheetal  Warbhuvan'}

In [64]:
#Sets
# Mutable
#Iterable
# unique

In [65]:
s1={1,2,3,4,5,6}

In [66]:
s1

{1, 2, 3, 4, 5, 6}

In [67]:
s1.add(9)

In [68]:
s1.remove(2)

In [69]:
s1

{1, 3, 4, 5, 6, 9}

In [71]:
#s1.remove(11)
s1.discard(11)

In [72]:
s1

{1, 3, 4, 5, 6, 9}

In [73]:
##Frozen Set- It is Immutable set

In [76]:
print([x for x in range(int(input("Enter start no:")),int(input("Enter end no:"))) if x%2==0])

Enter start no:1
Enter end no:15
[2, 4, 6, 8, 10, 12, 14]