# Arithmatic Operators

In [1]:
#Addition
a=10
b=10
print(a+b)

20

In [2]:
#Subtraction
print(a-b)

0

In [4]:
#Multiplication
print(a*b)

100

In [5]:
a/b
# division always returns float number

1.0

In [6]:
#Power
p=a ** 2
print(p)

100

In [8]:
# Modulus
b=5
r=a%b
print(r)
# It gives reminder of the division a/b

0

In [10]:
# Flooring-> 2.3 will be 2
print(7//2)
# Ceiling-> (2.3) will be 3

3

# Assignment Operator

In [13]:
x=10
x=x+1 #As immutable it reassign the value

In [14]:
x

11

In [15]:
x+=1
x

12

In [16]:
x-=1
x

11

In [17]:
x*=2
x

22

In [18]:
x/=11
x

2.0

In [19]:
x**=2
x

4.0

# Comparision operator
Ouput will be always boolean

In [20]:
x=10
y=5

x>y

True

In [21]:
x<y

False

In [22]:
x==y

False

In [23]:
x<=y

False

In [24]:
x>y

True

In [25]:
x!=y

True

# Logical Operators

In [26]:
#And operation
# op will be true if all the input are ture
print((5==5) and (2<8))

True

In [28]:
#OR operation
# op will be true if atleast one input is true
print((5==5) or (2>8))
print((5==5) or (2>8))

True

In [31]:
#Not Operator
print(not(True))

False

# Bitwise operator
- Bitwise AND
- Bitwise OR
- Bitwiser XOR

In [32]:
#bitwise AND

12 & 15
# conver first both 12 and 15 into binary and 12 & 15 is executed
# similarly 12|15 is calculated
12|15

15

# Membership operator
- in
- notin

In [63]:
li=[0,1,2,3,4,5]
5 in li

True

In [64]:
#membership operator works only with collection type of data
5 not in li

False

# Typecasting

In [54]:
x=3
x
x=float(x)
x
#t1="hello"
#=int(st1)  string to integer is not possible. data type should be compatible
print(x)

l=[1,2,3,4,5]
print(tuple(l))
print(set(l))

3.0
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

Conditional Statement

In [42]:
marks=input("Enter your marks")
if int(marks) > 40:
    print("Pass")
else:
    print("Fail")

Enter your marks78
Pass

In [44]:
marks=input("Enter your marks")
if int(marks) > 40 and int(marks)<60:
    print("Pass")
elif int(marks) > 60 and int(marks)<80:
    print("***")
else:
    print("Outof")

Enter your marks90
Outof

In [46]:
# Ternanry Operators
marks=input("Enter your marks")
print("Pass") if int(marks)>40  else print("Fail")

Enter your marks45
Pass

In [50]:
# Ternanry Operators
marks=input("Enter your marks")
print("Pass") if int(marks)>40  else print("Fail") if int(marks)>20 else print("Something")

Enter your marks23
Fail

# Loop Statement

In [51]:
# For loop
# for someVariable in collection:
#     body

In [52]:
for var in range(10):
    print("hello")
    
# range function will create list 
# range(10) [0,1,2,3,4,5,6,7,8,9]
# range(0,10)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [60]:
range(10)

range(0, 10)

In [85]:
#list(range(10))
# range(n)=[0...(n-1)]
#range(m,n)=[m...(n-1)]
#range(m,n,s)=[m,m+s.....(n-1)]
for x in range(15,3,-2):
    print(x)
l=[100,200,300,400]
print(l[-1])
print(l[3])
print(l[0])
print(l[-4])
print("Reverse number")
# for x in range(-1,-(len(l)+1),-1):
#                print(l[x])
for x in range(len(l)):
    print(l[-x-1])
l1=[10,20,30,40]
l2=[100,200,300,400]
for x in range(len(l2)):
    print(l1[x],l2[-x-1])

15
13
11
9
7
5
400
400
100
100
Reverse number
400
300
200
100
10 400
20 300
30 200
40 100

In [ ]:
# while loop