# Set
- unordered
- mutable
- iterable
- repetition allowed in values only

In [1]:
s1={1,2,3,4,5,6,6}

In [2]:
s1

{1, 2, 3, 4, 5, 6}

In [3]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [4]:
#indxing not possible as unordered
s1.remove(2)

In [5]:
s1

{1, 3, 4, 5, 6, 7}

In [6]:
s1.remove(10) # will give error as 10 is not present in a set

KeyError: 10

In [8]:
print(s1.discard(10))
s1

None

{1, 3, 4, 5, 6, 7}

In [9]:
s2={8,3,6,5,9,10}
s1 | s2  # Union operator

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
s1 & s2 # Intersection operator

{3, 5, 6}

In [18]:
sd=s1 -s2 #
sd

{1, 4, 7}

In [12]:
s2 -s1

{8, 9, 10}

In [13]:
s1.union(s2)

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
s1.intersection(s2)

{3, 5, 6}

In [17]:
s1.difference(s2)

{1, 4, 7}

# Frozen Set
difference between set and frozen set is frozen set is immutable

In [19]:
l=[1,2,3,4,5,6,7]
fs=frozenset(l)
fs

frozenset({1, 2, 3, 4, 5, 6, 7})

In [20]:
#add remove discard is not available for frozen set
# all other operation are possible such as union,interaction,diffrence

In [21]:
se=set(l)
se

{1, 2, 3, 4, 5, 6, 7}

In [24]:
l1=list(se)
l1

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#keys inside dictionary are only immutable datatypes